/************* Styling the footer of the webpage *******************/
footer {
    background: #0f0e0dd6;
}
footer h4 {
    color: var(--white-color);
}
#footerSeprator {
    background: var(--grey-color);
    height: 6px;
}
footer > #footerInfo {
    padding: 2rem;
    text-align: center;
    color: var(--white-color);
}
.iconsContainer {
    opacity: 0.7;
    margin: 0.5rem;
    cursor: pointer;
}
.iconsContainer:hover{
    opacity: 1;
}

