:root {
    --orange-color : #FF6600;
    --white-color : #FFFFFF;
    --black-color : #0F0E0D;
    --grey-color : #796F69;
    --header-color : #e9e9e9 ;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.headerC {
    background-color: var(--header-color);
}
/* Styling the navbar of the Landing Page */
.search {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    transition: 0.5s;
    overflow: hidden;
}
.search.active {
    width: 360px;
}
.search .searchIcon {
position: absolute;
top: 0;
left: 0;
width: 50px;
height: 60px;
cursor: pointer;
z-index: 10;
}
.search .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
}
.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.03rem;
    padding: 10px 0;
    background: var(--white-color);
}
.separator {
    width: 5px;
    background: var(--black-color);
}
@media only screen and (max-width: 768px){
    form {
        align-items: flex-start !important;
    }
}

