/* Preparing our main colors to work with */
:root {
    --orange-color : #FF6600;
    --white-color : #FFFFFF;
    --black-color : #0F0E0D;
    --grey-color : #796F69;
}
/**** customising our scroolbar ******/
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #cbc0c0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e79e6d;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--orange-color);
  }
  /************ Customusing the spin in the inputs number type *************/
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}


/* Styling the first Section wich contains the silder of our website entry */
.carousel-control-prev , .carousel-control-next {
    top: calc(50% -25px);
}
.carousel-control-prev {
    left: 5%;
}
.carousel-control-next {
    right: 5%;
}
#bigHeader , #mainPara , #firstJoinButt {
    position: absolute;
    z-index: 2;
}
#bigHeader {
    top: 10%;
    left: 15%;
}
#mainPara{
    top: 47.5%;
    left: 8%;
    color: var(--white-color);
    letter-spacing: 10px;
    font-size: 1vw;
}
#firstJoinButt{
    top: 70%;
    left: 40%;
    padding: 1%;
    width: 20vw;
    letter-spacing: 4px;
    border: 3px solid var(--orange-color);
    border-radius: 200px;
    color: var(--white-color);
    background: transparent;
}
.orangeH{
    color: var(--orange-color);
}
.whiteH{
    color: var(--white-color);
}
.orangeH , .whiteH {
    font-size: 4vw;
} 
.silderImg {
    opacity: 0.7;
}
/* Styling the second Section wich contains image and the some infos */

.section2imgPlaceHolder {
    background: var(--orange-color);
}
#section2Heading {
    position: absolute;
    top: 30%;
    left: 57%;
    color: var(--white-color);
    letter-spacing: 15px;
}
#sittingManImg{
    width: 40vw;
    margin-right: 15rem;
}
.articlesHeading , .h3Headings , #scheduleHead {
    letter-spacing: 5px;
}
.articlesParag {
    line-height: 3;
    color: var(--grey-color);
}
#section2Heading > span {
    font-size: 3.5vw;
}
.infoIcons {
    height: 30%;
}
.arrow {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-left-color: var(--white-color);
}
.separatorDIv {
    height: 2px;
    width: 40vw;
    background: var(--black-color);
}
  /* Style for the 3 section that contains all the classes available */

 .section3Articles {
    width: 30%;
 }
 .section3Articles .coachIcon {
     width: 10%;
 }
 .section3Articles .coaches {
     font-weight: bold;
     color: var(--grey-color);
 }
 
 @media only screen and (max-width: 770px){
     /* Small devices and big smartphones */
    .section3Articles {
        width: 100%;
        margin-bottom: 2rem;
     }
     .lastArticlesSection3{
        margin-top: 1.2rem;
    }
    #bmiParagraph {
        line-height: 1;
    }
}
@media only screen and (min-device-width: 770px) and (max-device-width: 1000px) {
    /* Tablettes minis and the big one */
    .section3Articles {
        width: 45%;
     }
     .lastArticlesSection3{
         margin-top: 1.2rem;
     }

}
/************ Styling the 4 section of the landing page *****************/
.lineBreaker{
    height: 7px;
    width: 150%;
    background: var(--orange-color);
}
.usersImage{
width: 30%;
height: 30%;
border-radius: 50%;
}
.clientsFeeds {
    line-height: 3;
    color: var(--grey-color);
    font-weight: bolder;
}
/************* Styling the 5 section of the Landing page ***************/
#bmiPicture{
    width: 95%;
    height: 100%;
    text-align: center;
    opacity:  0.8;
}
.bmiHolderSection {
    margin-top: 7rem;
}
.bmiContent {
    position: absolute;
    top: 12%;
    left: 6%;
}
#bmiHeader {
    color: var(--black-color);
    letter-spacing: 2rem;
    font-weight: 900;
    font-size: 3vw;
}
#bmiParagraph {
    color: var(--white-color);
    line-height: 6;
    font-size: 2vw;
    font-weight: bold;
}
.bmiInputs {
    text-align: center;
    width:20vw;
    height: 50px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.303);
    border: none;
    color: var(--white-color);
}
.bmiInputs::placeholder {
    color: var(--white-color);
}
#calculateBtn {
    color: var(--white-color);
    font-weight: bolder;
    background: var(--orange-color);
    padding: 5%;
    width: 20vw;
    letter-spacing: 4px;
    border: 3px solid var(--orange-color);
    box-shadow: -7px -8px 9px 0px black ;
    transition: 0.5s;
}
#calculateBtn:hover {
    box-shadow: 0px 0px 0px 0px black;
}
@media only screen and (max-width: 642px) {
    #bmiInput1 {
        margin-bottom: 3rem !important;
    }
    #bmiInput2 {
        margin-top: 0 !important;
    }
    #calculateBtn{
        margin-top: 2rem !important;
    }
}

/************* Styling the 6 section of the Landing page ***************/

.section5 {
    background-color: #080707b5;
    width: 95%;
    margin: 0 auto;
}
.section5Heading {
    letter-spacing: 8px;
    font-weight: bolder;
}
#CardsPrice {
    color: var(--orange-color);
    font-size: 60px;
}
#perMonth {
    color: var(--grey-color);
    font-weight: bolder;
}
.cardsOffers {
    color: var(--black-color);
    font-weight: 400;
    font-size: 30px;
}
.section5 article {
    width: 400px;
    height: 700px;
    vertical-align: bottom;
}
.detailsButt {
    font-weight: bolder;
    margin-top: 2rem;
    padding: 1rem;
    width: 50%;
    background: transparent;
    border: 2px solid var(--orange-color);
    border-radius: 200px;
}
.PricingCardTitle{
font-size: 50px;
}
@media only screen and (min-device-width: 991px) and (max-device-width: 1338px) {
    .section5 #article2{
        margin-bottom: 5rem !important;
    }
}