section h1 {
    margin-top: 6rem ;
    letter-spacing: 5px;
    font-weight: bolder;
}
.trCss{
    border: 1px solid gray;
    vertical-align: middle;
}
td > img {
    cursor: pointer;
}
.btn-primary {
  width: 300px;
  padding: 0.5rem;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,117,0,1) 100%) !important;
  box-shadow: none;
  border: none;
}
.btn-primary:focus {
  box-shadow: none !important;
}
.productImageCont{
  width: 35%;
  height: 300px;
}
.productInfoC {
  border-bottom: 5px solid grey;
}
.productContentC {
  position: relative;
  width: 85%;
  /* border: none; */
  padding: 2rem;
  box-shadow: 7px 8px 15px 0px brown;
  transition: 0.5s;
}
.productContentC:hover {
  margin-top: 0.5rem;
  
}
.svgIconEdit{
  top: 1%;
  left: 1%;
  transform: rotate(-86deg);

}
.svgIconDelete{
  top: 3%;
  right: 2%;
}
.svgIconDelete , .svgIconEdit{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.6;
}
.svgIconDelete:hover , .svgIconEdit:hover{
  opacity: 1;
}
.requiredFiels {
  color: red;
}
textarea {
  resize: none;
}
@media only screen and (max-width: 768px){
  #descConta {
    width: 100% !important;
  }
}